<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Filejet_FilejetMagento2Plugin::filejet"
             title="FileJet"
             module="Filejet_FilejetMagento2Plugin"
             sortOrder="51"
             resource="Filejet_FilejetMagento2Plugin::filejet"/>

        <add id="Filejet_FilejetMagento2Plugin::dashboard"
             title="Dashboard"
             module="Filejet_FilejetMagento2Plugin"
             sortOrder="10"
             action="filejet_magento2_plugin/dashboard"
             resource="Filejet_FilejetMagento2Plugin::dashboard"
             parent="Filejet_FilejetMagento2Plugin::filejet"/>

        <add id="Filejet_FilejetMagento2Plugin::hello_configuration"
             title="Configuration"
             module="Filejet_FilejetMagento2Plugin"
             sortOrder="99"
             parent="Filejet_FilejetMagento2Plugin::filejet"
             action="adminhtml/system_config/edit/section/filejet"
             resource="Filejet_FilejetMagento2Plugin::filejet_configuration"/>
    </menu>
</config>
