<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="filejet_magento2_plugin" frontName="filejet_magento2_plugin">
            <module name="Filejet_FilejetMagento2Plugin"/>
        </route>
    </router>
</config>
