<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="filejet" translate="label" sortOrder="10">
            <label>FileJet</label>
        </tab>
        <section id="filejet" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>filejet</tab>
            <resource>Filejet_FilejetMagento2Plugin::filejet_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="storage_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Storage ID</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API key</label>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
            </group>
        </section>
        <section id="filejet_mutations" translate="label" sortOrder="131" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Mutations</label>
            <tab>filejet</tab>
            <resource>Filejet_FilejetMagento2Plugin::filejet_mutations</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="mutations" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mutations</label>
                    <comment>Enter the class of your image and the manual mutation you want FileJet to use. (by default, FileJet will try to guess the mutation). For more info on the mutations available, see the api reference</comment>
                    <frontend_model>Filejet\FilejetMagento2Plugin\Block\Adminhtml\Form\Field\Mutations</frontend_model>
                    <backend_model>Filejet\FilejetMagento2Plugin\Model\Config\Serializer</backend_model>
                </field>
            </group>
        </section>
        <section id="filejet_ignore_list" translate="label" sortOrder="132" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ignore list</label>
            <tab>filejet</tab>
            <resource>Filejet_FilejetMagento2Plugin::filejet_ignore_list</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="ignore_list" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ingore list</label>
                    <comment>Add classes of the images that you wish not to be handled by FileJet.</comment>
                    <frontend_model>Filejet\FilejetMagento2Plugin\Block\Adminhtml\Form\Field\IgnoreList</frontend_model>
                    <backend_model>Filejet\FilejetMagento2Plugin\Model\Config\Serializer</backend_model>
                </field>
            </group>
        </section>
        <section id="filejet_image_attribute" translate="label" sortOrder="132" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Image Attribute</label>
            <tab>filejet</tab>
            <resource>Filejet_FilejetMagento2Plugin::filejet_image_attribute</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="image_attribute" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Image Attribute</label>
                    <comment>Add attributes of the images that you wish to be handled by FileJet. By default FileJet handles src and srcset attributes.</comment>
                    <frontend_model>Filejet\FilejetMagento2Plugin\Block\Adminhtml\Form\Field\ImageAttribute</frontend_model>
                    <backend_model>Filejet\FilejetMagento2Plugin\Model\Config\Serializer</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
